<div class="ad-margin">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <h3>Acive Incidents</h3>
        <!-- heading -->
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12">
        <nav class="navbar" style="margin-bottom:-12px">
            <div class="container-fluid">
              <div class="navbar-header">
                <ul class="nav navbar-nav" style="font-size:25px">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                      </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span><i class="fa fa-list"></i></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#"><i class="fa fa-save"></i>    Save</a></li>
                          <li><a href="#"><i class="fa fa-upload"></i>   Export</a></li>
                          <li><a href="#">Copy URL</a></li>
                          <li><a href="#"><i class="fas fa-sync-alt"></i>  Reload Form</a></li> 
                        </ul>
                      </li>
              </ul>
              </div>
              <!-- <ul class="nav navbar-nav" style="font-size: 25px;
              position: relative;
              top: 6px;
              left: 329px;">
                  
                   <li style="font-size:20px">
                      <i class="fa fa-filter"></i>
                      <select class="selectpicker">
                          <optgroup label="Location">
                            <option>City</option>
                            <option>State</option>
                            <option>Country</option>
                          </optgroup>
                          <optgroup label="other">
                            <option>Date</option>
                            <option>Requester</option>
                            <option>Incident Number</option>
                          </optgroup>
                        </select>
                    </li>
                    <li>
                      <form>
                      <input type="text" style="
                      height: 25px;">
                    </form>
                    </li>
                </ul> -->
              <ul class="nav navbar-nav navbar-right" style="font-size:25px">
                <li><a href="#"><span class=" fa fa-paperclip"></span></a></li>
               
              </ul>
            </div>
          </nav>
        </div>
        </div>
      </div>
        <!-- end of header -->
        
        <div class="panel-body">
          <!-- table content -->
              <div class="table-responsive">
                <table class="table table-hover ">
                  
                </table>
              </div>
          <!-- end of content -->
        </div>
        <div class="panel-heading">
          <!-- pagination -->
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
          <nav aria-label="Page navigation example pull-right" style="margin-bottom: -34px;
          margin-top: -25px;">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
          <!--end of pagination -->
        </div>
      </div>
    </div>
  </div>
</div>