<div class="ad-margin">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="ad-h3"> Accessibility </h3>
            </div>
            <div class="panel-body">
              <div table-responsive>
                  <table class="table table-responsive-sm table-striped">
                      
                          <!--Table head-->
                          <thead>
                            <tr>
                              <th>User Groups</th>
                              <th>Edit all location fields</th>
                              <th>Edit respective location fields</th>
                              <th>Add rows </th>
                              <th>Add columns </th>
                              <th>Edit drop down menu </th>
                              <th>Download reports(excel/pdf) </th>
                              <th>Upload manpower info from HR </th>
                              <th>Read / Search(*) </th>
                              <th>Checklist </th>
                      
                      
                            </tr>
                          </thead>
                          <!--Table head-->
                      
                          <!--Table body-->
                          <tbody>
                            <tr>
                              <th scope="row">Administrative functionality</th>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                      
                      
                      
                      
                            </tr>
                            <tr>
                              <th scope="row">Master Data Update</th>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                              <td align="center">
                                <input type="checkbox" class="case" name="case" /> </td>
                      
                      
                      
                            </tr>
                            
                      
                            
                          </tbody>
                          <!--Table body-->
                      
                        </table>
                      
                        <!--Table-->
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
