<!-- body -->
<div class="ad-margin">
    <div class="row">
      <div class="col">
        <div class="panel">
          <div class="panel-heading">
            <h3>UnAssigned Incidents</h3>
          </div>
          <div class="panel-body">
              <kendo-grid [data]="gridData" [height]="410" [pageSize]="10" [pageable]="true" [groupable]="true" (add)="addHandler($event)">
                  <ng-template kendoGridToolbarTemplate>
                      <kendo-dropdownlist [data]="listItems" [(ngModel)]="sss">
                        </kendo-dropdownlist>
                      <button (click)="removeItems()">Assign</button>
                      
                      </ng-template>
                      <kendo-grid-column field="INC" title="Incident Number" [width]="100"></kendo-grid-column>
                      <kendo-grid-column field="Requestor" title="Requestor" [width]="120"></kendo-grid-column>
                      <kendo-grid-column field="Issue" title="Issue" [width]="100"></kendo-grid-column>
                      <kendo-grid-column field="Description" title="Description" [width]="140"></kendo-grid-column>
                      <kendo-grid-column field="Created" title="Created" [width]="130"></kendo-grid-column>
                  <kendo-grid-column field="Discontinued" title="Select" width="120">
                      <ng-template kendoGridCellTemplate let-dataItem>
                          <input type="checkbox" (change)="assignedItems(dataItem)"/>
                      </ng-template>
                  </kendo-grid-column>
                  
              </kendo-grid>
          </div>
        </div>
      </div>
    </div>
  </div>