<!-- dashboard -->
<div class="ad-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="dropdown">
            <i class="dropbtn fa fa-filter"></i><span> Active incidents</span>
            <div class="dropdown-content">
              <a href="#">Active</a>
              <a href="#">Resolved</a>
              <a href="#">On Hold</a>
              <a href="#">Cancelled</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
            <kendo-grid [kendoGridBinding]="gridData" [pageSize]="10" [pageable]="true" [sortable]="true" [filterable]="true" [groupable]="true"
            [height]="510">
            <kendo-grid-column field="INC" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="Requestor" [width]="120"></kendo-grid-column>
            <kendo-grid-column field="Issue" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="Description" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="Created" [width]="130"></kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Request Resolution Time Trend</h4>
        </div>
        <div class="panel-body">
          <kendo-chart [categoryAxis]="{ categories: categories }" (render)="onRender($event)" (axisLabelClick)="onAxisLabelClick($event)"
            (legendItemClick)="onLegendItemClick($event)" (legendItemHover)="onLegendItemHover($event)" (plotAreaClick)="onPlotAreaClick($event)"
            (plotAreaHover)="onPlotAreaHover($event)" (seriesClick)="onSeriesClick($event)" (seriesHover)="onSeriesHover($event)">
            <kendo-chart-title text="Month wise SLA's /"></kendo-chart-title>
            <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
            <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
            <kendo-chart-series>
              <kendo-chart-series-item *ngFor="let item of series" type="line" [data]="item.data" [name]="item.name">
              </kendo-chart-series-item>
            </kendo-chart-series>
          </kendo-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Incidents Details for the month of March(2018)</h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-responsive">
            <tbody>
              <tr>
                <td>Active Incidents</td>
                <td></td>
                <td><button class="button ad-button ad-activeBg pull-right">
                    <div class="ad-active">50%</div>
                    </button>
                </td>
              </tr>
              <tr>
                <td>OnHold Incidents</td>
                <td></td>
                <td><button class="button ad-button ad-holdBg pull-right">
                    <div class="ad-active">20%</div>
                    </button>
                </td>
              </tr>
              <tr>
                <td>Resolved Incidents</td>
                <td></td>
                <td><button class="button ad-button ad-resolvedBg pull-right">
                    <div class="ad-active">90%</div>
                    </button>
                </td>
              </tr>
              <tr>
                <td>Cancled Incidents</td>
                <td></td>
                <td><button class="button ad-button ad-cancledBg pull-right">
                    <div class="ad-active">10%</div>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- end of content -->

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>City wise SLA's</h4>
        </div>
        <div class="panel-body">
          <kendo-chart [seriesColors]="['orange', 'blue']">
            <kendo-chart-legend position="top"></kendo-chart-legend>
            <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
            <kendo-chart-series>
              <kendo-chart-series-item type="pie" [data]="pieData" field="value" categoryField="category">
              </kendo-chart-series-item>
            </kendo-chart-series>
          </kendo-chart>
        </div>
      </div>



    </div>
  </div>
</div>