<div class="ad-margin">
    <div class="inner">
  <div class="panel panel-default">
  <div class="panel-heading">
      <button class="btn btn-default navbar-btn fa fa-chevron-left"></button>
      <button class="fa fa-bars fa-2x barr"></button>
      <button class="btn btn-link pull-right fa fa-paperclip fa-2x"></button>
  </div>
  <form style="padding:20px">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" id="usr">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Requester</label>
        <input type="text" class="form-control" id="reuester">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group" >
      <label>State</label>
      <div class="dropdown">
        <select id="state" class="form-control">
          <option selected>Select state </option>
          <option>Active</option>
          <option>On Hold</option>
          <option>Resolved</option>
          <option>Cancle</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 form-group">
        <label>Capco Id</label>
        <input type="text" class="form-control" id="usr">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
        <div class="input-group form-group">
            <label >Assigned to</label>
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default bb" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        
      <div class="input-group form-group">
          <label>Location</label>
        <input type="text" class="form-control" placeholder="IN > Pune">
          <div class="input-group-btn">
            <button class="btn btn-default bb" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 "></div>
    <div class="col-md-6 "></div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
    <label>Short description</label>
    <input type="text" class="form-control" id="usr">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
        <label>Description</label>
    <textarea class="form-control" id="usr"></textarea>
    </div>
  </div>
  <label>Closure Information</label>
  <div class="row" style="padding:15px;">
        <div class="tab-content ttt" >
          <div id="menu2" class="tab-pane fade in active tab_padding">
          <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="problem">Resolved by</label>
                  <input type="text" class="form-control" id="resoled_by">
                </div>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div class="form-group">
                  <label><span class="req">*</span> &nbsp;Resolution code</label>
                  <input type="text" class="form-control" id="problem">
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="problem">Resolved Date and Time</label>
                  <input type="text" class="form-control" id="problem">
                </div>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-4"></div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label><span class="req">*</span> &nbsp;Resolution Notes</label>
                <textarea class="form-control" id="usr"></textarea>
                </div>
              </div>
        </div>
      </div>  
  </div>
</form>
</div>
</div>
</div>
