<div class="container">

  <div class="panel panel-default">
    <!-- <div class="panel-heading">
            <button aria-label="Form menu" class="btn btn-link glyphicon glyphicon-menu-hamburger"></button> New Incident
            <button title="Add attachment" class="btn btn-link pull-right fa fa-paperclip fa-2x"></button>
        </div> -->
    <div class="panel-body">
      <h4 style="border-bottom:1px solid grey">Incident</h4>
      <form [formGroup]="reopenForm">
        <div class="form-group">
          <label> Incident Number</label> <input type="text" class="form-control" value="INC0019902"  readonly >
        </div>
        <div class="form-group">
          <label> State</label> <input type="text" class="form-control" value="Resolved"  readonly>
        </div>
        <div class="form-group">
          <label> Requestor</label> <input type="text" class="form-control" value="Safal Tammewar"  readonly>
        </div>
        <div class="form-group">
          <label><span class="mandatory-symbol">* </span>Location</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="city">
            <option *ngFor="let c of cities" [value]="c">{{c}}</option>                      
                 </select>
                 <div *ngIf="city.invalid && city.touched" class="alert alert-danger">
                  <div *ngIf="city.errors.required">City is required.</div>
                </div>
        </div>
         <div class="form-group">
          <label><span class="mandatory-symbol">* </span>Category</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="category">
                      <!-- <option selected disabled>Select Category</option>
                      <option>On Boarding</option>
                         <option>Payroll</option>
                        <option>Off Boarding</option>
                        <option>Howden Benefits</option>
                        <option>Timesheet</option>
                        <option>Probation</option>  -->
                      </select>
                      <div *ngIf="category.invalid && category.touched" class="alert alert-danger">
                        <div *ngIf="category.errors.required">Category is required.</div>
                      </div>
        </div>
        <div class="form-group">
          <label><span class="mandatory-symbol">* </span>Sub Category</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="subCategory">
                          <option>Induction Timelines</option>
                          <option>Laptop Regarding Queries</option>
                          <option>Off Boarding</option>
                          <option>Howden Benefits</option>
                          <option>Timesheet</option>
                          <option>Probation</option>
                        </select>
                        <div *ngIf="subCategory.invalid && subCategory.touched" class="alert alert-danger">
                          <div *ngIf="subCategory.errors.required">Sub Category is required.</div>
                        </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1"><span class="mandatory-symbol">* </span>Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" required formControlName="description"></textarea>
          <div *ngIf="description.invalid && description.touched" class="alert alert-danger">
            <div *ngIf="description.errors.required">Description is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"><span class="mandatory-symbol">* </span>Solution</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" required formControlName="solution"></textarea>
          <div *ngIf="solution.invalid && solution.touched" class="alert alert-danger">
            <div *ngIf="solution.errors.required">Solution is required.</div>
          </div>
        </div>
        <button value="" class="btn btn-primary" [disabled]="reopenForm.invalid">Reopen</button>
      </form>
    </div>
    <!-- <div class="panel-footer">
          <button value="" class="btn btn-primary" (click)="any()">Save(Ctrl+S)</button>
        </div> -->
  </div>

</div>