<div class="ad-margin">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Add New Catagory</h2>
          </div>
          <div class="panel-body">
              <form id="surveyForm" method="post" class="form-horizontal">
                  <div class="form-group">
                      <label class="col-xs-3 control-label">Catagory</label>
                      <div class="col-xs-5">
                          <input type="text" class="form-control" name="question" />
                      </div>
                  </div>
              
                  <div class="form-group">
                      <label class="col-xs-3 control-label">Sub Catagory</label>
                      <div class="col-xs-5">
                          <input type="text" class="form-control" name="option[]" />
                      </div>
                      <div class="col-xs-4">
                          <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                      </div>
                  </div>
              
                  <!-- The option field template containing an option field and a Remove button -->
                  <div class="form-group hide" id="optionTemplate">
                      <div class="col-xs-offset-3 col-xs-5">
                          <input class="form-control" type="text" name="option[]" />
                      </div>
                      <div class="col-xs-4">
                          <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                      </div>
                  </div>
              
                  <div class="form-group">
                      <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-floppy-o" aria-hidden="true"> Save </i></button>
                      </div>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>
    <!-- /form -->
  </div>
  <!--container-->