<!-- body -->
<div class="ad-margin">
    <div class="row">
        <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Incidants Details</div>
            <div class="panel-body">
                <!-- Navbar  -->
                <nav class="navbar navbar-default">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"><i class="fa fa-fast-backward"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fa fa-caret-left"></i></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fa fa-caret-right"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fa fa-fast-forward"></i></a>
                        </li>
                      </ul>
                 </nav>
          <div class="table-responsive">
                    <table class="table table-striped">

                        <tr>
                            <th><i class="fa fa-cog "></i></th>
                            <th><i class="fa fa-search"></i></th>
                            <th>
                                <button><i class="fa fa-list"></i></button> Number
                            </th>
                            <th> <button><i class="fa fa-list"></i></button>opened</th>
                            <th> <button><i class="fa fa-list"></i></button>short decription</th>
                            <th> <button><i class="fa fa-list"></i></button>requester</th>
                            <th> <button><i class="fa fa-list"></i></button>priority</th>
                            <th> <button><i class="fa fa-list"></i></button>state</th>

                        </tr>

                        <tbody>
                            <tr>
                                <td><input type="checkbox" style="width:30px;height:30px;"> </td>
                                <td>
                                    <span (click)='f1()'><i class="fa fa-info-circle " style="font-size:36px;color:blue;"></i></span>
                                </td>
                                <td>
                                    <u>INC1735444</u>
                                </td>
                                <td>2018-03-07<br>08:51:00</td>
                                <td>
                                    <p style="text-align:justify">Unable to process global<br> protect and outlook</p>
                                </td>
                                <td>Kirti Gupta</td>
                                <td>1-critical</td>
                                <td>on hold</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" style="width:30px;height:30px;"> </td>
                                <td><span (click)='f1()'><i class="fa fa-info-circle " style="font-size:36px;color:blue;"></i></span></td>
                                <td>
                                    <u>INC1735444</u>
                                </td>
                                <td>2018-03-07<br>08:51:00</td>
                                <td>
                                    <p style="text-align:justify">Unable to process global<br> protect and outlook</p>
                                </td>
                                <td>Kirti Gupta</td>
                                <td>1-critical</td>
                                <td>on hold</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" style="width:30px;height:30px;"> </td>
                                <td>
                                    <span (click)='f1()'><i class="fa fa-info-circle " style="font-size:36px;color:blue;"></i></span>
                                </td>
                                <td>
                                    <u>INC1735444</u>
                                </td>
                                <td>2018-03-07<br>08:51:00</td>
                                <td>
                                    <p style="text-align:justify">Unable to process global<br> protect and outlook</p>
                                </td>
                                <td>Kirti Gupta</td>
                                <td>1-critical</td>
                                <td>on hold</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" style="width:30px;height:30px;"> </td>
                                <td>
                                    <span (click)='f1()'><i class="fa fa-info-circle " style="font-size:36px;color:blue;"></i></span>
                                </td>
                                <td>
                                    <u>INC1735444</u>
                                </td>
                                <td>2018-03-07<br>08:51:00</td>
                                <td>
                                    <p style="text-align:justify">Unable to process global<br> protect and outlook</p>
                                </td>
                                <td>Kirti Gupta</td>
                                <td>1-critical</td>
                                <td>on hold</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" style="width:30px;height:30px;"> </td>
                                <td>
                                    <span (click)='f1()'><i class="fa fa-info-circle " style="font-size:36px;color:blue;"></i></span>
                                </td>
                                <td>
                                    <u>INC1735444</u>
                                </td>
                                <td>2018-03-07<br>08:51:00</td>
                                <td>
                                    <p style="text-align:justify">Unable to process global<br> protect and outlook</p>
                                </td>
                                <td>Kirti Gupta</td>
                                <td>1-critical</td>
                                <td>on hold</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" style="width:30px;height:30px;"> </td>
                                <td>
                                    <span (click)='f1()'><i class="fa fa-info-circle " style="font-size:36px;color:blue;"></i></span>
                                </td>
                                <td>
                                    <u>INC1735444</u>
                                </td>
                                <td>2018-03-07<br>08:51:00</td>
                                <td>
                                    <p style="text-align:justify">Unable to process global<br> protect and outlook</p>
                                </td>
                                <td>Kirti Gupta</td>
                                <td>1-critical</td>
                                <td>on hold</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" style="width:30px;height:30px;"> </td>
                                <td>
                                    <span (click)='f1()'><i class="fa fa-info-circle " style="font-size:36px;color:blue;"></i></span>
                                </td>
                                <td>
                                    <u>INC1735444</u>
                                </td>
                                <td>2018-03-07<br>08:51:00</td>
                                <td>
                                    <p style="text-align:justify">Unable to process global<br> protect and outlook</p>
                                </td>
                                <td>Kirti Gupta</td>
                                <td>1-critical</td>
                                <td>on hold</td>
                            </tr>

                        </tbody>
                    </table>
             </div>
            </div>
         </div>
        </div>
    </div>