.hc-background{
    background:url("assets/images/computer.jpg");   
    background-repeat:no-repeat;
    height:-webkit-fill-available;
    
    }
.container{
    padding-top: 20px;
}
a{
    color: black;
}
.hc-login-container{  
   background-color: whitesmoke;
   padding: 15px;
 
img{    
    padding-top: 10px;    
   }
}
   

