<div class="hc-background">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="col-md-1"></div>
        <div class=" hc-login-container">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <img  alt="capco logo" src="./assets/images/capco-login-img.jpg">
            </div>
            <div class="col-md-2"></div>
            <div class="col-sm-6 col-md-8"><h2>HC-OPS PORTAL</h2></div>         
            
          </div><br>
          <div>
              <ul class="nav nav-pills nav-justified">
                  <li ><a routerLink="/user-login">Login</a></li>
                  <li><a routerLink="/new-registration">Register</a></li>
              </ul>
              
                <router-outlet></router-outlet>
        
        </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
